{% extends 'base.html' %}
{% load static %}
 {% block menu %}
  <div class="container">
  {% if messages %}
  	<div class="col-md-4">
  		{% for message in messages %}
  		<p>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
  		{% endfor %}
  		

  	</div>
  {% endif %}
  <div class="tolgoi">
  <ul class="socail">
  <li><a href="https://www.facebook.com/MongolianDeafSports"><img src="{% static 'assets/img/facebook.png' %}" width="30"></a></li>
  <li><a href="https://twitter.com/mgldeafsport"><img src="{% static 'assets/img/twitter.png' %}" width="30"></a></li>
  <li><a href="#"><img src="{% static 'assets/img/youtube.jpg' %}" width="30"></a></li>
  <li><a href="#"><img src="{% static 'assets/img/instagram.png' %}" width="30"></a></li>
  <div class="deesh">  
  <form class="navbar-form navbar-left" role="search" action="/search/" method="post">{% csrf_token %}
			<div class="form-group">
			<input type="text" name="search_text" value="" id="username" class="form-control" role="search" placeholder="Хайх утгаа оруулна уу...">
			</div>
			<button type="submit" class="btn btn-default">Хайх</button>
			</form>

			</ul></div>
  </div>
	</div>
  <header>

	<div class="container">
	
		<div class="tolgoi">
		<div class="lot">
			<ul class="nav nav-pills">
			<li role="presentation" class="enabled"><a href="/contact/">Холбоо барих</a></li>
			<li role="presentation" class="enabled"><a href="/support_us/">Хандив </a></li>
			
			
			<!ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">LAN<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Монгол хэл</a></li>
					<li><a href="#">English</a></li>
				</ul>
			</li>
		  <!/ul>
		  </ul>
	</div>
		</div>
	</div>
	</header>
	<header>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
						
							<div class="navbar-brand">
								<a href="/"><h1><b>Диф Спортын Хороо</b></h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class=""><a href="/">Нүүр</a></li>								
								<li role="presentation" class="active"><a href="/about_us/">Бидний тухай</a></li>
								<li role="presentation"><a href="/news/">Мэдээ</a></li>
								<li role="presentation"><a href="/sport/">Спорт</a></li>			
								<li role="presentation"><a href="/deaflymp/">Дифлимп</a></li>
								<li role="presentation"><a href="/support_us/">Хандив</a></li>		
							</ul>
						</div>
						
					</div>			
				</nav>
			</div>
		</div>
	</header>
	
	{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="container">
		<div class="row">
<div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#lA" data-toggle="tab">Мэндчилгээ</a></li>
          
          <li><a href="#lC" data-toggle="tab">Танилцуулга</a></li>
          <li><a href="#lD" data-toggle="tab">Эрхэм зорилго</a></li>
        
          <li><a href="#lF" data-toggle="tab">Удирдах зөвлөл</a></li>
          <li><a href="#lG" data-toggle="tab">Гишүүнчлэл</a></li>
          <li><a href="#lH" data-toggle="tab">Асуулт,хариулт</a></li>
          <li></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="lA">
            	<div class="thumnailss">
				<h4>Мэндчилгээ</h4>													
			<p>Монголын Диф Спортын Хороо нь Монголын Сонсголын Бэрхшээлтэй Иргэдийн Спортын байгууллагуудын үйл  ажиллагааны уялдаа холбоог хангаж, тэдгээрийг гадаад, дотоодод төлөөлөх, диф спортын төрлүүдээр тэмцээн зохион байгуулах, диф спортын шигшээ баг бүрдүүлэн гадаад, дотоодын тэмцээнд оролцуулах зэрэг удирдлагын чиг үүргийг хэрэгжүүлэх зорилгоор 2012 оны 10-р сарын 25-нд байгуулагдсан болно. Эдүгээ Монголын сонсголын бэрхшээлтэй иргэдийн оюуны спортын холбоо, Монголын дүлий иргэдийн хөлбөмбөгийн холбоо, Монголын сонсголын бэрхшээлтэй иргэдийн сагсан бөмбөгийн холбоо, ширээний теннисийн холбоо, чөлөөт бөхийн холбоо, хөнгөн атлетикийн холбоо, волейболын холбоо, "Сурдо" биеийн тамир, спортын холбоо, буудлагын "Мэргэн холбоо" гэсэн спортын 10-н холбоо, олон зуун сонсголгүй тамирчдыг эгнээндээ нэгтгэсэн Монголын Диф спортын гол байгууллага болж төлөвшиж байна.							
			</p>
			</div>
          </div>
     
          <div class="tab-pane" id="lC">
            <div class="thumnailss">
				<h4>Танилцуулга</h4>													
			<p>Монголын Диф Спортын Хороо нь Монголын Сонсголын Бэрхшээлтэй Иргэдийн Спортын байгууллагуудын үйл  ажиллагааны уялдаа холбоог хангаж, тэдгээрийг гадаад, дотоодод төлөөлөх, диф спортын төрлүүдээр тэмцээн зохион байгуулах, диф спортын шигшээ баг бүрдүүлэн гадаад, дотоодын тэмцээнд оролцуулах зэрэг удирдлагын чиг үүргийг хэрэгжүүлэх зорилгоор 2012 оны 10-р сарын 25-нд байгуулагдсан болно. Эдүгээ Монголын сонсголын бэрхшээлтэй иргэдийн оюуны спортын холбоо, Монголын дүлий иргэдийн хөлбөмбөгийн холбоо, Монголын сонсголын бэрхшээлтэй иргэдийн сагсан бөмбөгийн холбоо, ширээний теннисийн холбоо, чөлөөт бөхийн холбоо, хөнгөн атлетикийн холбоо, волейболын холбоо, "Сурдо" биеийн тамир, спортын холбоо, буудлагын "Мэргэн холбоо" гэсэн спортын 10-н холбоо, олон зуун сонсголгүй тамирчдыг эгнээндээ нэгтгэсэн Монголын Диф спортын гол байгууллага болж төлөвшиж байна.
			</p>
			</div>
          </div>
            <div class="tab-pane" id="lD">
            	<div class="thumnailss">
				<h4>Эрхэм зорилго</h4>													
					<p>Сонсголын бэрхшээлтэй хүүхэд, залуучууд, насанд хүрэгчдийн дунд
					Олимп болоод Дифлимпийн үзэл санааг түгээн дэлгэрүүлж, тэднийг Диф спортын өвөл, 
					зуны төрлийн бүхий л спортоор хичээллэх нөхцөл бололцоог бүрдүүлэх, спортоор
					дамжуулан тэдний нийгмийн оролцоог идэвхжүүлэх,  тамирчдын спортын амжилтыг улс, 
					тив, дэлхий, дифлимпийн хэмжээнд хүргэх явдал мөн.							
					</p>
			</div>
          </div>
          
    
            <div class="tab-pane" id="lF">
            	<div class="thumnailss">
				<h4>Удирдах зөвлөл</h4>	
															
			<p>Ерөнхийлөгч Ж.Энхбаяр</br>
			Дэд ерөнхийлөгч Д.Сүрэнхорлоо</br>
			Гишүүн Ц.Пүрэвдоо</br>
			Гишүүн Б.Даваа</br>
			Гишүүн Д.Баярмаа</br>
			Гишүүн Д.Баасандорж</br>
			Гишүүн Ч.Баттогтох	</br>						
			</p>
			</div>
          </div>
            <div class="tab-pane" id="lG">
            	<div class="thumnailss">
				<h4>Гишүүнчлэл/Гишүүнчлэлийн зэрэглэлүүд, мөн хэрхэн гишүүнээр элсэх/</h4>													
				<p>Монголын диф спортын хорооны дүрмийг хүлээн зөвшөөрч, үүрэг хүлээн татвар төлдөг 
				этгээдийг гишүүн гэнэ.</p>
				<p>Гишүүн нь 3 төрөл байна:</br>
				-байгууллага</br>
				-иргэн</br>
				-дэмжигч</p>
				<p>Гишүүнээр элсэх хүсэлтээ бичгээр болон өөрийн биеэр тавьж болох бөгөөд холбогдох 
				татвар хураамжаа төлж, гишүүний үнэмлэхээ авснаар хорооны шугамаар олон улсын 
				болон дотоодын тэмцээнд оролцох эрх нээгдэнэ. Мөн гишүүд нь хорооноос зохион 
				байгуулж байгаа сургалт, семинарт хамрагдах, спортын мэдээ материалыг хөнгөлөлттэй 
				үнээр эсвэл үнэ төлбөргүй авах зэрэг давуу эрх эдэлнэ.</p>							
				</p>
			</div>
          </div>
          <div class="tab-pane" id="lH">
            <div class="thumnailss">
				<h4>Диф спорт гэж юу вэ?</h4>													
				<p>Диф буюу Сонсголгүй иргэдийн спорт гэдэг маань тэдний онцлогт тааруулсан дүрэм 
				журмаар зохион байгуулдаг спортын төрлүүдийг нэрлэсэн ерөнхий нэр юм. Диф спортын
				тэмцээн уралдаанд шүгэл хэрэглэхгүй, гараанаас буун дуугаар хөдлөхгүй, бүрээ үлээхгүй, 
				тэдгээрийг орлох шүүлтийн арга барил, зохицуулалтыг хийсэн байдаг. Түүнчлэн 
				Дифлимпийн өвөл, зуны спортын төрөлд багтаагүй боловч сонсголгүй иргэдэд зориулсан 
				тусгай дүрэмтэй л бол тухайн спортыг Диф спортын төрөлд багтаан ойлгож болно.						
				</p>
			</div>
			<div class="thumnailss">
				<h4>Дифлимпийн өвөл, зуны наадмын тухай товч ойлголт өгөхгүй юу?</h4>													
				<p>Дифлимпийн тухайд товчхон өгүүлбэл, Зуны Дифлимп нь спортын 20 төрлөөр, өвлийн
				Дифлимп нь спортын 5 төрлөөр дэлхийн орон орны сонсголын бэрхшээлтэй тамирчдын 
				хурд, хүч, цэц мэргэ, авхаалж самбаагаа сорьдог наадам билээ. Их Олимп, Паралимпийн 
				нэг адил дөрвөн жил тутамд болдог, ялгаа нь гэвэл Олимпийн дараа сондгой тоотой жил 
				зохион байгуулаад хэвшжээ. 1924 онд Францын Евгений Рубенс, Бельгийн Антуан Дресс 
				нарын үүсгэл санаачилгаар Олон Улсын Диф Спортын Хороо байгуулагдаж, мөн онд 
				Францын Парис хотноо 9 орны 148 сонсголын бэрхшээлтэй тамирчид оролцсон “Олон 
				Улсын Чимээгүй Спортын Наадам” болсон нь өнөөгийн Дифлимпийн эхлэл болсон юм. 
				Зөвхөн Их Олимпийн дараа л орох урт бөгөөд баялаг түүхтэй сонсголын бэрхшээлтэй 
				иргэдийн спортын наадам нь 2000 оноос Дифлимп хэмээгдэх болж, түүнээс хойш 
				хамрагдах спортын төрөл, оролцогч орон, тамирчдын тоо байнга өсч ирлээ.							
				</p>
			</div>
          </div>
        </div>
</div> 
      </div>
</div> 

	<div class="container">
		<div class="row">
			
		</div>
	</div>

{% endblock %}
{% block about_us %}
{% endblock %}