{% extends 'base.html' %}
{% load static %}
{% block sidebar %}
{% endblock %}
 {% block menu %}
  <div class="container">
  {% if messages %}
  	<div class="col-md-4">
  		{% for message in messages %}
  		<p>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
  		{% endfor %}
  		

  	</div>
  {% endif %}
  <div class="tolgoi">
  <ul class="socail">
  <li><a href="https://www.facebook.com/MongolianDeafSports"><img src="{% static 'assets/img/facebook.png' %}" width="30"></a></li>
  <li><a href="https://twitter.com/mgldeafsport"><img src="{% static 'assets/img/twitter.png' %}" width="30"></a></li>
  <li><a href="#"><img src="{% static 'assets/img/youtube.jpg' %}" width="30"></a></li>
  <li><a href="#"><img src="{% static 'assets/img/instagram.png' %}" width="30"></a></li>
  <div class="deesh">  
  <form class="navbar-form navbar-left" role="search" action="/search/" method="post">{% csrf_token %}
			<div class="form-group">
			<input type="text" name="search_text" value="" id="username" class="form-control" role="search" placeholder="Хайх утгаа оруулна уу...">
			</div>
			<button type="submit" class="btn btn-default">Хайх</button>
			</form>

			</ul></div>
  </div>
	</div>
  <header>

	<div class="container">
	
		<div class="tolgoi">
		<div class="lot">
			<ul class="nav nav-pills">
			<li role="presentation" class="enabled"><a href="/contact/">Холбоо барих</a></li>
			<li role="presentation" class="enabled"><a href="/support_us/">Хандив </a></li>
			
			
			<!ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">LAN<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Монгол хэл</a></li>
					<li><a href="#">English</a></li>
				</ul>
			</li>
		  <!/ul>
		  </ul>
	</div>
		</div>
	</div>
	</header>
	<header>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
						
							<div class="navbar-brand">
								<a href="/"><h1><b>Диф Спортын Хороо</b></h1></a>
							</div>
						</div>
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class=""><a href="/">Нүүр</a></li>								
								<li role="presentation"><a href="/about_us/">Бидний тухай</a></li>
								<li role="presentation"><a href="/news/">Мэдээ</a></li>
								<li role="presentation"><a href="/sport/">Спорт</a></li>			
								<li role="presentation" class="active"><a href="/deaflymp/">Дифлимп</a></li>
								<li role="presentation"><a href="/support_us/">Хандив</a></li>		
							</ul>
						</div>
						
					</div>			
				</nav>
			</div>
		</div>
	</header>
	
	{% endblock %}
{% block content %}
<div class="container">
		<div class="row">
<div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
        <li class="active"><a href="#lH" data-toggle="tab">Дифлимп мэдээ</a></li>
          <li ><a href="#lA" data-toggle="tab">2013 оны Зуны Дифлимп,<br> Софи, Болгарь </a></li>
          
          <li><a href="#lC" data-toggle="tab">ОУДСХ-ны 44-р их хурал</a></li>
          <li><a href="#lD" data-toggle="tab">2015 оны Өвлийн Дифлимп,<br>Хаиты-Мансийск, Орос</a></li>
          <li><a href="#lG" data-toggle="tab">ОУДСХ-ны 44-р их хурал</a></li>
          
          <li></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="lA">
            	<div class="thumnailss">
				<h4>Тамирчин сонгон шалгаруулах журам</h4>													
			<p>Тавигдах нийтлэг шалгуур үзүүлэлтүүд 
Тамирчид дараах шаардлагыг хангасан байна:
Монголын улсын иргэн байна.
Сонсгол дор хаяж 55 дб-ээр алдагдсан байх ёстой.
Монголын Диф Спортын Холбооны (МДСХ) болон тухайн спортын холбооны гишүүн бөгөөд гишүүний татвараа төлсөн байна.
МДСХ-ны баталсан Ес Зүйн дүрэмтэй танилцаж, дагаж мөрдөхөө батлан гарын үсгээ зурна.
МДСХ, ОУДСХ болон Дэлхийн Сэргээшийн Эсрэг Агентлагийн дүрэм журмын дагуу сэргээшийн шинжилгээнд ямар ч тайлбаргүй хамрагдана.
Сонгон шалгаруулалтаар гарч ирснээс хойш тасралтгүй бэлтгэл хийх үүрэг хүлээнэ.
Монголын багийн албаны хүмүүст бэлтгэлийн явц, тэмцээн уралдаанд оролцсон үр дүнгээ мэдээлэх үүрэгтэй.
Тамирчин хүний эрхэм сайн чанаруудыг харуулж бусдад үлгэр дууриалтай байна.
Монголын багийн бүрэлдэхүүнд орох материалууд, үүнд Монгол улсын гадаад паспортын хуулбар, эргэж үл төлөгдөх нөхцөлөөр Монголын багт орох өргөдлийн хураамж 100,000 төгрөгийг шилэгдсэнээс хойш 30 хоногийн дотор төлнө.
Олон Улсын Диф Спортын Хорооны (ОУДСХ) сонсголын бичлэг хийх маягтыг татаж аваад шилэгдсэнээс хойш 30 хоногийн дотор бичлэг хийлгэж МДСХ-д өгнө.
Тамирчныг сонгохдоо тухайн спортын төрөл онцлогт нь тааруулж холбоодын зүгээс тусгай шалгуур гаргаж батлуулна. Үүнд шалгуур үзүүлэлтийг тайлбарлаж, сорил тэмцээн явуулах хугацааг тодорхой заах, улмаар сонгон шалгаруулсан тамирчдаа МДСХ-ны удирдах зөвлөлд оруулж батлуулах зэргийг тусгана.
Монголын багийн бүрэлдэхүүнд орсон боловч бэртэл гэмтэл, өвчтэй зэрэг шалтгааны улмаас Дифлимпэд оролцох боломжгүй болсон тохиолдолд түүний дараагийн хүнийг нөхөн оруулна.
Сонгон шалгаруулах комисс.Тамирчид сонгон шалгаруулалт шударга бус болсон гэж үзвэл гомдлоо гаргах эрхтэй.							
			</p>
			</div>
			<div class="thumnails">
				<h4>Тамирчин сонгон шалгаруулах журам</h4>													
			<p>Тавигдах нийтлэг шалгуур үзүүлэлтүүд 
Тамирчид дараах шаардлагыг хангасан байна:
Монголын улсын иргэн байна.
Сонсгол дор хаяж 55 дб-ээр алдагдсан байх ёстой.
Монголын Диф Спортын Холбооны (МДСХ) болон тухайн спортын холбооны гишүүн бөгөөд гишүүний татвараа төлсөн байна.
МДСХ-ны баталсан Ес Зүйн дүрэмтэй танилцаж, дагаж мөрдөхөө батлан гарын үсгээ зурна.
МДСХ, ОУДСХ болон Дэлхийн Сэргээшийн Эсрэг Агентлагийн дүрэм журмын дагуу сэргээшийн шинжилгээнд ямар ч тайлбаргүй хамрагдана.
Сонгон шалгаруулалтаар гарч ирснээс хойш тасралтгүй бэлтгэл хийх үүрэг хүлээнэ.
Монголын багийн албаны хүмүүст бэлтгэлийн явц, тэмцээн уралдаанд оролцсон үр дүнгээ мэдээлэх үүрэгтэй.
Тамирчин хүний эрхэм сайн чанаруудыг харуулж бусдад үлгэр дууриалтай байна.
Монголын багийн бүрэлдэхүүнд орох материалууд, үүнд Монгол улсын гадаад паспортын хуулбар, эргэж үл төлөгдөх нөхцөлөөр Монголын багт орох өргөдлийн хураамж 100,000 төгрөгийг шилэгдсэнээс хойш 30 хоногийн дотор төлнө.
Олон Улсын Диф Спортын Хорооны (ОУДСХ) сонсголын бичлэг хийх маягтыг татаж аваад шилэгдсэнээс хойш 30 хоногийн дотор бичлэг хийлгэж МДСХ-д өгнө.
Тамирчныг сонгохдоо тухайн спортын төрөл онцлогт нь тааруулж холбоодын зүгээс тусгай шалгуур гаргаж батлуулна. Үүнд шалгуур үзүүлэлтийг тайлбарлаж, сорил тэмцээн явуулах хугацааг тодорхой заах, улмаар сонгон шалгаруулсан тамирчдаа МДСХ-ны удирдах зөвлөлд оруулж батлуулах зэргийг тусгана.
Монголын багийн бүрэлдэхүүнд орсон боловч бэртэл гэмтэл, өвчтэй зэрэг шалтгааны улмаас Дифлимпэд оролцох боломжгүй болсон тохиолдолд түүний дараагийн хүнийг нөхөн оруулна.
Сонгон шалгаруулах комисс.Тамирчид сонгон шалгаруулалт шударга бус болсон гэж үзвэл гомдлоо гаргах эрхтэй.							
			</p>
			</div>
          </div>
     
          <div class="tab-pane" id="lC">
            <div class="thumnailss">
				<h4>Танилцуулга</h4>													
			<p>Монголын Диф Спортын Хороо нь Монголын Сонсголын Бэрхшээлтэй Иргэдийн Спортын байгууллагуудын үйл  ажиллагааны уялдаа холбоог хангаж, тэдгээрийг гадаад, дотоодод төлөөлөх, диф спортын төрлүүдээр тэмцээн зохион байгуулах, диф спортын шигшээ баг бүрдүүлэн гадаад, дотоодын тэмцээнд оролцуулах зэрэг удирдлагын чиг үүргийг хэрэгжүүлэх зорилгоор 2012 оны 10-р сарын 25-нд байгуулагдсан болно. Эдүгээ Монголын сонсголын бэрхшээлтэй иргэдийн оюуны спортын холбоо, Монголын дүлий иргэдийн хөлбөмбөгийн холбоо, Монголын сонсголын бэрхшээлтэй иргэдийн сагсан бөмбөгийн холбоо, ширээний теннисийн холбоо, чөлөөт бөхийн холбоо, хөнгөн атлетикийн холбоо, волейболын холбоо, "Сурдо" биеийн тамир, спортын холбоо, буудлагын "Мэргэн холбоо" гэсэн спортын 10-н холбоо, олон зуун сонсголгүй тамирчдыг эгнээндээ нэгтгэсэн Монголын Диф спортын гол байгууллага болж төлөвшиж байна.
			</p>
			</div>
          </div>
            <div class="tab-pane" id="lD">
            	<div class="thumnailss">
				<h4>Эрхэм зорилго</h4>													
					<p>Сонсголын бэрхшээлтэй хүүхэд, залуучууд, насанд хүрэгчдийн дунд
					Олимп болоод Дифлимпийн үзэл санааг түгээн дэлгэрүүлж, тэднийг Диф спортын өвөл, 
					зуны төрлийн бүхий л спортоор хичээллэх нөхцөл бололцоог бүрдүүлэх, спортоор
					дамжуулан тэдний нийгмийн оролцоог идэвхжүүлэх,  тамирчдын спортын амжилтыг улс, 
					тив, дэлхий, дифлимпийн хэмжээнд хүргэх явдал мөн.							
					</p>
			</div>
          </div>
          
    
            <div class="tab-pane" id="lF">
            	<div class="thumnailss">
				<h4>Удирдах зөвлөл</h4>	
															
			<p>Ерөнхийлөгч Ж.Энхбаяр</br>
			Дэд ерөнхийлөгч Д.Сүрэнхорлоо</br>
			Гишүүн Ц.Пүрэвдоо</br>
			Гишүүн Б.Даваа</br>
			Гишүүн Д.Баярмаа</br>
			Гишүүн Д.Баасандорж</br>
			Гишүүн Ч.Баттогтох	</br>						
			</p>
			</div>
          </div>
            <div class="tab-pane" id="lG">
            	<div class="thumnailss">
				<h4>Гишүүнчлэл/Гишүүнчлэлийн зэрэглэлүүд, мөн хэрхэн гишүүнээр элсэх/</h4>													
				<p>Монголын диф спортын хорооны дүрмийг хүлээн зөвшөөрч, үүрэг хүлээн татвар төлдөг 
				этгээдийг гишүүн гэнэ.</p>
				<p>Гишүүн нь 3 төрөл байна:</br>
				-байгууллага</br>
				-иргэн</br>
				-дэмжигч</p>
				<p>Гишүүнээр элсэх хүсэлтээ бичгээр болон өөрийн биеэр тавьж болох бөгөөд холбогдох 
				татвар хураамжаа төлж, гишүүний үнэмлэхээ авснаар хорооны шугамаар олон улсын 
				болон дотоодын тэмцээнд оролцох эрх нээгдэнэ. Мөн гишүүд нь хорооноос зохион 
				байгуулж байгаа сургалт, семинарт хамрагдах, спортын мэдээ материалыг хөнгөлөлттэй 
				үнээр эсвэл үнэ төлбөргүй авах зэрэг давуу эрх эдэлнэ.</p>							
				</p>
			</div>
          </div>
          <div class="tab-pane active" id="lH">
            {% for i in posts.object_list %}

      	        <div class="thumnailss">
      	        <table>
      	        <tr> 

                
      	      {% if i.pic != "" %}
      	      <th>
      	      <img src="/media/{{ i.pic }}/" width="200"></th>
      	       {% endif %}
		       	<td> 		
		       	<div><h5>{{ i.title }}</h5></div>								
			   <p style="text-align:justify;">{{ i.body|truncatechars:"250" }}<a href="/get_news/{{ i.id }}/" alt="">Дэлгэрэнгүй</a> </i></p></td>
			    </tr>
			    </table>	
			   </div>
			   {% endfor %}	
			   <div class="col-md-4">
         </div>









         <div class="col-md-4">
			   <div class="pagination">
			   <ul>
			   	{% if posts.has_previous %}
			   	<li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
			   	{% endif %}
			   	{% for pg in posts.paginator.page_range %}
			   	{% if posts.number == pg %}
			   	<li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
			   	{% else %}
			   	<li><a href="?page={{ pg }}">{{ pg }}</a></li>
			   	{% endif %}
			   	{% endfor %}
			   	{% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
                {% endif %}
			   	</ul>
			   </div>		
         </div>
          </div>
        </div>
</div> 
      </div>
</div> 

	<div class="container">
		<div class="row">
			
		</div>
	</div>

{% endblock %}
{% block about_us %}
{% endblock %}