{% extends 'base.html' %}
{% block sidebar %}
{% endblock %}
{% block content %}
<div class="container">
	<div class="about">	
  <div class="row">
  	  <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/news/">Home</a></li>
        <li><a href="/news_lastest/">Сүүлд нэмэгдсэн</a></li>
        <li><a href="/news_reader/">Хамгийн их уншсан</a></li>
        <li><a href="/album/">Зургийн сан</a></li>
        <li><a href="/videos/">Видео сан</a></li>
        <li><a href="/occation/">Үйл явдал</a></li>
        <li><a href="/human/">Онцлох хүн</a></li>
        <li><a href="/notice/">Зарлал</a></li>
      </ul>
      </div>
      <div class="col-md-9">

              {% for i in posts.object_list %}
              <div class="video">
              <h3><a href="">{{ i.title }}</a></h3>
      	      <iframe width="640" height="360" src="{{i.name}}" frameborder="0" allowfullscreen></iframe>"
              </div>
			   {% endfor %}	
         <div class="col-md-4">
         </div>









         <div class="col-md-4">
			   <div class="pagination">
			   <ul>
			   	{% if posts.has_previous %}
			   	<li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
			   	{% endif %}
			   	{% for pg in posts.paginator.page_range %}
			   	{% if posts.number == pg %}
			   	<li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
			   	{% else %}
			   	<li><a href="?page={{ pg }}">{{ pg }}</a></li>
			   	{% endif %}
			   	{% endfor %}
			   	{% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
                {% endif %}
			   	</ul>
			   </div>		
         </div>
		</div>							
    </div>
  
  </div><!-- /row -->
</div><!-- /container -->
	
	<div class="container">
		<div class="row">
			<hr>
		</div>
	</div>

{% endblock %}